body {
    background-color: #0d0d0d;
    background-image: url("https://www.transparenttextures.com/patterns/white-diamond-dark.png");
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
}

input {
    border-color: #5D3FD3;
    border-radius: 20px;
    font-family: 'Karla', sans-serif;
    padding: 1rem;
    width: 50%;
    font-size: 1rem;
}

select {
    border-color: #5D3FD3;
    border-radius: 20px;
    border-width: 2px;
    font-family: 'Karla', sans-serif;
    padding: 1rem;
    width: 50%;
    font-size: 1rem;
}

textarea {
    border-color: #5D3FD3;
    border-radius: 20px;
    border-width: 2px;
    font-family: 'Karla', sans-serif;
    padding: 1rem;
    resize: none;
    font-size: 1rem;
}

.card-container {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 10px 10px 3px #5D3FD3;
    height: fit-content;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    width: 50%;
}

.card-container-past {
    background-color: #dddddd;
}

.card-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    width: 85%;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.card-subtitle {
    font-size: 1.3rem;
}

.card-subtitle-past {
    display: inline-block;
    width: 60%;
}

.card-text {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.card-text-past {
    display: inline-block;
}

.error-text {
    color: #FF0000;
    font-weight: bold;
    font-size: 1.2rem;
}

.input-container {
    font-family: 'Karla', sans-serif;
    width: 85%;
    margin: 0 auto 3rem;
}

.input-container-past {
    margin: 0 auto 0;
}

.input-text {
    width: 100%;
    height: fit-content;
}

.form-check-input {
    position: initial;
    width: auto;
    width: 1rem;
    height: 1rem;
}

.form-check-label {
    margin-left: 1rem;
}

.form-button {
    background-color: #5D3FD3;
    border-radius: 20px;
    border-width: 0;
    color: #ffffff;
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 3rem;
}

.form-button:hover {
    background-color: #7c5cff;
}

.form-button-past {
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 0 1rem;
}

.title {
    color: #5D3FD3;
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}